:root {
    --primary: #2e7d32;
    --secondary: #81c784;
    --dark: #1b5e20;
    --light: #f1f8e9;
    --text: #333;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Noto Sans", Arial, sans-serif;
    background-color: #fafafa;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ),
    url("images/cover.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}

.hero-content h1 {
    color: white;
    font-size: 3.6rem;
    margin-bottom: 10px;
}

.hero-content p {
    color: white;
    font-size: 3.3rem;
    margin-bottom: 50px;
}

.hero-btn {
    padding: 14px 30px;
    background: var(--primary);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.hero-btn:hover {
    background: var(--secondary);
    color: #0827ed;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f5;
}

header {
    background: #2e7d32;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.crop-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 40px;
}

.crop-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.crop-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.crop-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.crop-card h3 {
    margin: 12px 0 5px;
    color: var(--dark);
}

.crop-card p {
    margin: 6px 0;
}


.form-container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 8px;
}
/* .crop-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
} */
#crop-section {
    scroll-margin-top: 100px;
}
button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: var(--dark);
}
.price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #2e7d32;
}

.qty-input {
    width: 80px;
    padding: 6px;
    margin-left: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.total-price {
    margin-top: 8px;
    font-weight: bold;
    color: #1b5e20;
}

